# Notes on 1-1 Variables

In [85]:
# integer
a = 5 
# float
b = 1.0

In [86]:
# output is float
c = a / b

In [87]:
# doing some math 

x = 1.0
y = 42.0
z = 23.782043

In [88]:
z ** y

6.345483523520177e+57

### Built in functions

In [89]:
type(z)

float

In [90]:
# this is true
isinstance(12, int) 

# this is false
isinstance(13.45, int) 

# this is true; may ask a variable
isinstance(z, float)

# can ask it if it fufills any of a list; this is true 
isinstance(a, (int, float))

True

In [91]:
y = 54
print(f"y as int: {y}")
print(float(y))
print(f"y as float: {float(y)}")
print(int(c))

y as int: 54
54.0
y as float: 54.0
5

In [92]:
print(round(z))

# round z value to 3 decimals 
print(round(z, 3))

24
23.782

In [93]:
# python is okay with white space 
print( 
    round(z, 5)
    )

23.78204

In [94]:
# output is the number of times 4 goes into 64, and the remainder
## (16, 0)
divmod(64, 4)

# 4.6 goes into 72... 15 times, with a remainer of 3.00000... 
##(15.0, 3.0000000000000053)
divmod(72, 4.6)

(15.0, 3.0000000000000053)

## Strings

In [95]:
# the space counts when calculating size of string
s = 'isaac' + ' ' + 'newton'

In [96]:
string_1 = "The first half..."
string_2 = "the second half"

string_3 = string_1 + string_2
print(string_3)

The first half...the second half

In [97]:
print(s.upper()) # make string s all caps
s.capitalize() # capitalize the I

ISAAC NEWTON

'Isaac newton'

In [98]:
print(string_3.upper())

THE FIRST HALF...THE SECOND HALF

In [99]:
city = 'Santa Barbara'
yrs = 3

print(f"I live in {city}")
print(f"I have lived in {city} for {yrs} years")

I live in Santa Barbara
I have lived in Santa Barbara for 3 years

# Lists

In [100]:
# Define list variables
num_list = [4, 23, 654, 2, 0, -12, 4391]
str_list = ['energy', 'water', 'carbon']

In [101]:
# Find the length of num_list
print(f"num_len has {len(num_list)} items")

# Minimum value of num_list
print(f"the smallest number is {min(num_list)}")

# Maximum value of num_list
print(f"the largest number is {max(num_list)}")

num_len has 7 items
the smallest number is -12
the largest number is 4391

## Indexing
- python uses zero indexing! That means that the first item on the list is [0]

In [102]:
str_list = ['energy', 'water', 'carbon']

# output is the first item in the list 
str_list[0]

'energy'

In [103]:
num_list = [4, 23, 654, 2, 0, -12, 4391]

# this is the last itme in the list
## therefore, [-2] would be the second to last item on the list (count backwards)
num_list[-1]
num_list[-2]

-12

## Slicing 
- python does not take the last element

In [104]:
num_list = [4, 23, 654, 2, 0, -12, 4391]

# will return item 2 and 3 but not 4
num_list[2:4] 

# if you dont include anything on the left, it assumed the 0 index
num_list[:4]

# will include up to the 3rd index
num_list[3:]

# will include from index [-6] and will not include item [-1]
num_list[-6:-1]
##[23, 654, 2, 0, -12]

[23, 654, 2, 0, -12]

In [106]:
num_list = [4, 23, 654, 2, 0, -12, 4391]

# will skip from index defined by first two numbers by the last number
## this will show every other value, starting with the first one
num_list[0:4:2]

[4, 654]

In [107]:
# turn the array around
num_list[::-1]

[4391, -12, 0, 2, 654, 23, 4]

In [113]:
colors = ['red', 'blue', 'green', 'black', 'white']

# insert purple to the 4th position
colors.insert(4, 'purple')
print(colors)

# remove selected element; can't use index location
colors.remove('blue')
print(colors)

# remove selected element using index
colors.pop(4)
print(colors)

['red', 'blue', 'green', 'black', 'purple', 'white']
['red', 'green', 'black', 'purple', 'white']
['red', 'green', 'black', 'purple']

In [126]:
rand_list = [5.1 , 3.42 , 3.333 , 100.4 , 0.5 , 26.0 , 7.44 , 5.8 , 39.0]

# will sort the list based on value; will ALTER the original list
rand_list.sort()
print(rand_list)

# print min and max values
print(f"the max value of rand_lsit is {max(rand_list)}, and the min value of rand_list is {min(rand_list)}")

# Print the first and last values in rand_list
print(f"the first value of rand_list {rand_list[0]}, and the last value is {rand_list[-1]}")

[0.5, 3.333, 3.42, 5.1, 5.8, 7.44, 26.0, 39.0, 100.4]
the max value of rand_lsit is 100.4, and the min value of rand_list is 0.5
the first value of rand_list 0.5, and the last value is 100.4

In [127]:
rand_list = [5.1 , 3.42 , 3.333 , 100.4 , 0.5 , 26.0 , 7.44 , 5.8 , 39.0]

# will not alter the original list
sort_list = sorted(rand_list)

print(sort_list) # this is sorted
print(rand_list) # original list has not changed

[0.5, 3.333, 3.42, 5.1, 5.8, 7.44, 26.0, 39.0, 100.4]
[5.1, 3.42, 3.333, 100.4, 0.5, 26.0, 7.44, 5.8, 39.0]

False

# Make Copies

In [130]:
str_list = ['energy', 'water', 'carbon']
print(str_list)

# will make a copy
str_list_copy = str_list.copy()
print(str_list_copy)

# I need a new list that has all the elements of the list; will make a copy 
str_list_copy_2 = str_list[:]
print(str_list_copy_2)

# make a list of the selected list will make a copy
str_list_copy_3 = list(str_list)
print(str_list_copy_3)

['energy', 'water', 'carbon']
['energy', 'water', 'carbon']
['energy', 'water', 'carbon']
['energy', 'water', 'carbon']